In [21]:
import pandas as pd

In [22]:
df = pd.read_csv('morad.csv', sep='\t')

In [23]:
df.head()

   Unnamed: 0      date sensorName      time  value  worksession
0           0  13:12:18        lum  10:08:10  181.0            2
1           1  13:12:18       temp  10:08:10   23.0            2
2           2  13:12:18        hum  10:08:10   44.0            2
3           3  13:12:18        lum  10:08:18  183.0            2
4           4  13:12:18       temp  10:08:18   23.0            2

In [24]:
df.set_index('sensorName', inplace=True)

In [25]:
df.head()

            Unnamed: 0      date      time  value  worksession
sensorName
lum                  0  13:12:18  10:08:10  181.0            2
temp                 1  13:12:18  10:08:10   23.0            2
hum                  2  13:12:18  10:08:10   44.0            2
lum                  3  13:12:18  10:08:18  183.0            2
temp                 4  13:12:18  10:08:18   23.0            2

In [35]:
df.dtypes

Unnamed: 0       int64
date            object
time            object
value          float64
worksession      int64
dtype: object

In [42]:
df['time'] = pd.to_timedelta(df['time'].str.strip())

In [43]:
df.dtypes

Unnamed: 0               int64
date                    object
time           timedelta64[ns]
value                  float64
worksession              int64
dtype: object

In [64]:
lstTempVal = []
for i in df.loc['temp', 'value']:
    lstTemp.append(i)
lstTempT  = []
for i in df.loc['temp', 'time']:
    lstTempT.append(i)

In [81]:
lstHumVal = []
for i in df.loc['hum', 'value']:
    lstHumVal.append(i)
lstHumT  = []
for i in df.loc['hum', 'time']:
    lstHumT.append(i)

In [84]:
lstLumVal = []
for i in df.loc['lum', 'value']:
    lstLumVal.append(i)
lstLumT  = []
for i in df.loc['lum', 'time']:
    lstLumT.append(i)